.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
**.pyc
**.pyo
**/ncsd_runs*
**.dat
**batch*
**.exe
**/anna_code*
**.DS_Store
**.json
**/ncsd-it.exe
**TBME**
**v3trans**

